<br>
<br>
<div class="row">
  <form ngForm #loginForm (submit)="login();">
    <div class="col-md-12">
      <mat-card align="center" style="background-color: bisque">Nombre de assignments: <b>{{totalDocs}}</b></mat-card>
      <mat-card *ngIf="authService.loggedIn" align="center" style="background-color: green">Vous êtes connectés</mat-card>
      <mat-card *ngIf="!authService.loggedIn" align="center"><b>Authentification</b></mat-card>
      <mat-card *ngIf="!authService.loggedIn" align="center" style="border: aqua">
        <mat-form-field>
          <input matInput placeholder="Nom utilisateur" [(ngModel)]="name" name="name">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Mot de passe" [(ngModel)]="pwd" name="pwd">
        </mat-form-field>
        <br>
        <br>
        <br>
        <button mat-stroked-button color="primary">
          Se connecter
        </button>
      </mat-card>
    </div>
  </form>
</div>
